body {
    background-color: #f2f4f7 !important;
    margin-top: 0rem !important;
}

.customSpace {
    padding-top: 15px;
}

.customSmooth {
    transition: all 0.5s ease-in-out;
}

.customWidthSearch {
    width: calc(100% - 390px);
}

@media (max-width: 594px) {
    .CustomHide {
        display: none;
    }

    .customWidthSearch {
        width: calc(100% - 240px);
    }
}